<div class="card-header">
  <p class="card-title">About</p>
</div>
<div class="card p-4">
  <p>
    Tijdens de opleiding informatica worden er vaak programmeer opdrachten gegeven, denk bijvoorbeeld aan de vakken
    programmeren 1 & 2 of algoritmen en datastructuren. Vaak krijgen deze opdrachten weinig feedback of worden deze
    slecht gemaakt en niet ingeleverd.
    <br><br>
    Om de studenten extra te motiveren, en ervoor te zorgen dat deze vaker feedback krijgen op hun opdrachten wordt er
    een nieuw systeem ontworpen. Hierin kunnen studenten programmeeropdrachten vinden en inleveren. Nadat deze zijn
    ingeleverd en getest kunnen studenten de oplossing van medestudenten inzien en hierop reageren. Hierdoor krijgen
    studenten meer feedback op hun code en kunnen ze alternatieve oplossingen inzien. Omdat de opdrachten pas zichtbaar
    worden nadat de student zelf de opdracht heeft gemaakt, zal deze niet vals kunnen spelen.
  </p>

  <b class="block mt-5">Opdrachten</b>
  <p>
    Het systeem bevat opdrachten, welke worden beheert kunnen worden door leraren of ouderejaars studenten. Deze
    opdrachten bevatten een naam, beschrijving, versie, programmeertaal, templateCode, testCode, tags en niveau. De tags
    worden gebruikt om op de opdrachten te filteren, en deze bevatten bijvoorbeeld de naam van het bijhorende vak. De
    versie van de opdracht zal omhoog gaan bij elke aanpassing, zodat een gebruiker kan zien of een oplossing voor de
    laatste versie is gemaakt.

    Niet iedereen kan elke tag aan zijn opdracht toevoegen, ouderejaars studenten kunnen bijvoorbeeld niet de tags voor
    een vak toevoegen. Dit is om verwarring te voorkomen.

    Een opdracht zal in de toekomst een geautomatiseerde test uitvoeren wanneer er een oplossing wordt ingeleverd. Maar
    omdat hiervoor veel logica nodig zal zijn om dit op een veilige manier uit te voeren en dit niet relevant is voor
    client-side web frameworks of nosql is dit er voor nu uitgelaten.
  </p>

  <b class="block mt-5">Oplossingen</b>
  <p>
    Wanneer een student een opdracht heeft gemaakt kan deze zijn oplossing uploaden. Deze wordt dan zichtbaar voor
    andere studenten. Nadat de student de opdracht heeft gemaakt kan deze ook oplossingen van andere studenten inzien en
    hierop reageren. Het is voor een student mogelijk om een oplossing meerdere keren in te leveren.

    Ook kan de student een opdracht van iemand “liken”, waardoor deze bovenaan de lijst met oplossingen komt te staan.
    Hierdoor zal een student als eerst de beste oplossingen te zien krijgen.
  </p>

  <b class="block mt-5">Commentaar</b>
  <p>
    Nadat een student zijn oplossing heeft ingeleverd kan deze feedback geven aan andere studenten. Deze feedback zal
    dan getoond worden onder de oplossing. Het is mogelijk om op een commentaar te reageren, zodat er een discussie
    kan ontstaan.
  </p>

  <b class="block mt-5">Tag</b>
  <p>
    Tags worden beheerd door de admins. Deze kunnen nieuwe tags aanmaken en verwijderen. Een tag kan inactief zijn,
    deze kan dan niet meer worden toegevoegd aan nieuwe opdrachten, maar zal in het systeem blijven staan.
  </p>

  <b class="block mt-5">User Stories</b>
  <p>
    Voor het ontwikkelen van het systeem zijn de volgende user stories opgesteld:<br>
    - Als gebruiker wil ik in kunnen loggen zodat ik geauthenticeerde acties kan uitvoeren<br>
    - Als admin wil ik accounts kunnen beheren zodat ik mijn gebruikers in het systeem kan zetten<br>
    - Als gebruiker wil ik oefeningen aan kunnen maken zodat ik deze beschikbaar kan stellen<br>
    - Als gebruiker wil ik oefeningen kunnen beheren zodat ik deze later nog kan wijzigen of verwijderen<br>
    - Als gebruiker wil ik oefeningen in kunnen zien zodat ik deze kan maken<br>
    - Als gebruiker wil ik mijn oplossing toe kunnen voegen aan een oefening<br>
    - Als gebruiker wil ik andere oplossingen in kunnen zien nadat ik zelf een oplossing heb toegevoegt<br>
    - Als gebruiker wil ik comments kunnen plaatsen op andere oplossingen om zo feedback te geven<br>
    - Als admin wil ik de tags in het systeem kunnen beheren<br>
  </p>

  <b class="block mt-5">Entity Relationship Diagram</b>
  <img src="/assets/erd.svg" alt="Entity Relationship Diagram">

  <b class="block mt-5">MongoDB Collections</b>
  <img src="/assets/db.svg" alt="MongoDB Collections">
</div>
